.dialog {
  border-radius: 32px;
  background: var(--cinza);
  padding: 24px;
  width: 960px;
  max-width: 80%;
  border: none;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: var(--offwhite);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding: 4px 8px;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
