<div class="login-container flex">
  <div class="login-card">
    <div class="login-card-content">
      <div class="login-image">
        <img
          src="assets/login-banner.png"
          alt="Code Connect"
          class="main-image"
        />
      </div>

      <div class="login-form">
        <h1 class="heading text-branco">Login</h1>
        <p class="subtitle text-offwhite">Boas-vindas! Faça seu login.</p>

        <form class="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="form-group">
            <app-input
              label="Email"
              type="email"
              placeholder="Digite seu email"
              [(ngModel)]="email"
              name="email"
              [required]="true"
              autocomplete="email"
            ></app-input>
          </div>

          <div class="form-group password-group">
            <app-input
              label="Senha"
              type="password"
              placeholder="Digite sua senha"
              [(ngModel)]="password"
              name="password"
              [required]="true"
              autocomplete="current-password"
            ></app-input>
          </div>

          <div class="form-options">
            <app-checkbox [(ngModel)]="rememberMe" name="rememberMe">
              Lembrar-me
            </app-checkbox>
            <app-link to="/forgot-password" variant="light">
              Esqueci a senha
            </app-link>
          </div>

          <button type="submit" class="btn-primary">
            Login
            <i class="fas fa-arrow-right"></i>
          </button>
        </form>

        <app-social-login
          (githubLogin)="loginWithGithub()"
          (googleLogin)="loginWithGoogle()"
        ></app-social-login>

        <p class="signup-link paragraph-small text-cinza-claro">
          Ainda não tem conta?
          <app-link to="/register" variant="highlight">
            <span class="text-lg signup-text">
              Crie seu cadastro!
              <img
                src="assets/assignment.svg"
                alt="Cadastro"
                width="24"
                height="24"
              />
            </span>
          </app-link>
        </p>
      </div>
    </div>
  </div>
</div>
