<div class="login-container bg-grafite flex">
  <div class="login-card">
    <div class="login-card-content">
      <div class="login-image">
        <img
          src="assets/login-banner.png"
          alt="Code Connect"
          class="main-image"
        />
        <div class="logo">
          <img
            src="assets/images/logo.svg"
            alt="Code Connect Logo"
            class="logo-image"
          />
        </div>
      </div>

      <div class="login-form">
        <h1 class="heading text-branco">Login</h1>
        <p class="subtitle text-cinza-claro">Boas-vindas! Faça seu login.</p>

        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="form-group">
            <app-input
              label="Email ou usuário"
              type="text"
              placeholder="usuario123"
              [(ngModel)]="email"
              name="email"
              required
            ></app-input>
          </div>

          <div class="form-group">
            <app-input
              label="Senha"
              type="password"
              placeholder="******"
              [(ngModel)]="password"
              name="password"
              required
            ></app-input>
          </div>

          <div class="form-options">
            <app-checkbox [(ngModel)]="rememberMe" name="rememberMe">
              Lembrar-me
            </app-checkbox>
            <app-link to="/forgot-password" variant="light">
              Esqueci a senha
            </app-link>
          </div>

          <button type="submit" class="btn-primary">
            Login
            <i class="fas fa-arrow-right"></i>
          </button>
        </form>

        <app-social-login
          (githubLogin)="loginWithGithub()"
          (googleLogin)="loginWithGoogle()"
        ></app-social-login>

        <p class="signup-link paragraph-small text-cinza-claro">
          Ainda não tem conta?
          <app-link
            to="/signup"
            variant="highlight"
            customClass="paragraph-large"
          >
            Crie seu cadastro!
          </app-link>
        </p>
      </div>
    </div>
  </div>
</div>
