<div class="login-container flex">
  <div class="login-card">
    <div class="login-card-content">
      <div class="login-image">
        <img
          src="assets/create-account-profile.png"
          alt="Code Connect"
          class="main-image"
        />
      </div>

      <div class="login-form">
        <h1 class="heading text-branco">Cadastro</h1>
        <p class="subtitle text-offwhite">Olá! Preencha seus dados.</p>

        <form class="form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <div class="form-group">
            <app-input
              label="Nome completo"
              type="text"
              placeholder="Digite seu nome"
              [(ngModel)]="name"
              name="name"
              [required]="true"
              autocomplete="name"
            ></app-input>
          </div>

          <div class="form-group">
            <app-input
              label="Email"
              type="email"
              placeholder="Digite seu email"
              [(ngModel)]="email"
              name="email"
              [required]="true"
              autocomplete="email"
            ></app-input>
          </div>

          <div class="form-group password-group">
            <app-input
              label="Senha"
              type="password"
              placeholder="******"
              [(ngModel)]="password"
              name="password"
              [required]="true"
              autocomplete="new-password"
            ></app-input>
          </div>

          <button type="submit" class="btn-primary">
            Cadastrar
            <i class="fas fa-arrow-right"></i>
          </button>
        </form>

        <app-social-login
          (githubLogin)="loginWithGithub()"
          (googleLogin)="loginWithGoogle()"
        ></app-social-login>

        <p class="signup-link paragraph-small text-cinza-claro">
          Já tem conta?
          <app-link to="/login" variant="highlight">
            <span class="text-lg signup-text"> Faça seu login! </span>
          </app-link>
        </p>
      </div>
    </div>
  </div>
</div>
