<div class="app-container">
  <div class="aside-wrapper">
    <app-aside />
  </div>
  <div class="main-content">
    <app-search-form />
    <div class="grid">
      @for (post of paginatedPosts(); track post.id) {
      <app-card-post
        [post]="post"
        [highlight]="false"
        (onLike)="handleLike($event)"
        (onComment)="handleComment($event)"
      />
      }
      <div class="links">
        @if (currentPage() > 1) {
        <app-button variant="link" (onClick)="goToPage(currentPage() - 1)">
          Página anterior
        </app-button>
        }
        <span class="page-info"
          >Página {{ currentPage() }} de {{ totalPages() }}</span
        >
        @if (currentPage() < totalPages()) {
        <app-button variant="link" (onClick)="goToPage(currentPage() + 1)">
          Próxima página
        </app-button>
        }
      </div>
    </div>
  </div>
</div>
